.Meditate {
    .bg {
        width: 100%;
        height: 100%;
        z-index: -10;
        position: fixed;
        top: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .bg-overlay {
        background-color: #0f0f0f99;
        width: 100%;
        height: 100%;
        z-index: -5;
        position: fixed;
        top: 0;
    }

    .bg img {
        width: 100%;
        background-position: center bottom;
    }

    button {
        border-radius: 10px !important;
        padding: 10px 15px !important;
        background-color: rgba(white, 0.3);
        margin: 0 2px;
    }

    .active {
        background-color: rgba(white, 0.9);
        color: #000;
        border: none;
    }

    .Meditate {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .time-menu,
    .audio-menu {
        margin-bottom: 40px;
    }

    .player-container {
        height: 160px;
        justify-content: center;
        align-items: center;
    }
    .time-menu {
        /* background-color: #ffafaf;  */
    }

    .player-container {
        /* background-color: #afafff; */
        position: relative;
        // border: 1px solid white;
    }

    .player-container .play,
    .player-container .audioSeek {
        position: absolute;
    }

    .player-container .timer {
        /* position: absolute; */
        /* bottom: 10%; */
    }

    .audio-menu {
        /* background-color: #afffaf;  */
    }

    .playPause {
        width: 40px;
        z-index: 10;
    }

    .audioSeek {
        width: 60%;
    }

    .volume-control {
        padding-left: 20px;
        width: 90%;
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 0%;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 32px;
        color: white;
    }

    .volume-slider {
        width: 100%;
    }

    .volume-icon {
        filter: invert(100%);
    }

    .timer {
        font-size: 32px;
        color: white;
    }
}
