footer {
    background: white;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: "Source Serif Pro", serif;
    left: 0px;
    font-size: 0.9em;
    line-height: 1em;
    color: #000;
    z-index: 9999;
}

// .info {
//     svg {
//         position: relative;
//         fill: #ccc;
//         width: 30px;
//     }
// }

// .the-info-icon .info svg {
//     fill: #000;
//     z-index: 1;
//     position: absolute;
//     right: 35px;
//     bottom: 5px;
// }

.info-overlay {
    position: fixed;
    right: 0;
    bottom: 60px;
    right: 0;
    width: 100%;
    height: calc(100% - 60px);
    // background: black;
    padding-top: 20px;
    text-align: center;
    z-index: 9999;
    color: white;
    // overflow: scroll;
    transition: right 0.5s ease-in-out;
    .buddah svg {
        margin-top: 20px;
        margin-bottom: 20px;
        fill: #fff;
        width: 60px;
    }
}

.info-overlay span,
.info-overlay p {
    padding: 20px 20px;
    margin: 0 auto;
}

// .info-overlay span {
//     font-size: 30px;
//     display: block;
// }

.info-overlay p {
    font-size: 18px;
    line-height: 1.4em;
}

.user-hello {
    // bottom: 10px;
    // position: absolute;
    // right: 90px;
}

.zenzen-count {
    position: absolute;
    bottom: 17px;
    left: 10px;
    color: black;
    font-size: 14px;
    width: 25px;
    height: 25px;
}

.your-journey {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 30px;
    > div {
        width: calc(50% - 1px);
        // border: 1px solid rgba(white, 0.2);
        border-top: 1px solid rgba(white, 0.2);
        border-bottom: 1px solid rgba(white, 0.2);
        &:nth-of-type(odd) {
            border-right: 1px solid rgba(white, 0.2);
        }
        h3 {
            margin-top: 0px;
        }
    }
}

/* Footer Navigation Bar */

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    > div {
        text-align: center;
    }
}

footer svg {
    width: 28px;
    height: 28px;;
}
