footer {
    background: white;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: "Source Serif Pro", serif;
    left: 0px;
    font-size: 0.9em;
    line-height: 1em;
    color: #000;
    z-index: 9999;

    .the-logo {
        padding-left: 10px;
        display: block;
        width: 200px;
        position: relative;
        bottom: -10px;
    }

    .logo {
        position: absolute;
    }

    .logo svg {
        transition: all 0.5s ease-in-out;
        width: 33px;
        height: 33px;
        fill: #000;
    }

    .logo-change .logo svg {
        fill: rgb(45, 168, 245);
    }

    .logo-tag {
        margin-left: 40px;
        height: 35px;
        transition: all 0.25s ease-in-out;
        color: #000;
    }

    .logo-change .logo-tag {
        color: rgb(45, 168, 245);
        transition: all 0.25s ease-in-out;
    }

    .logo-tag span {
        display: block;
    }

    &.spin .logo svg {
        transform: rotate(180deg);
    }

    &.spin-more .logo svg {
        transform: rotate(-180deg);
    }
}

.info {
    svg {
        position: relative;
        fill: #ccc;
        width: 30px;
    }
}

.the-info-icon .info svg {
    fill: #000;
    z-index: 1;
    position: absolute;
    right: 35px;
    bottom: 5px;
}

.info-overlay {
    position: fixed;
    right: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    padding-top: 20px;
    text-align: center;
    z-index: 9999;
    color: white;
    overflow: scroll;
    transition: right 0.5s ease-in-out;
    .buddah svg {
        margin-top: 40px;
        fill: #fff;
        width: 80px;
    }
}

.info-overlay.info-hidden {
    right: -100vw;
}

.info-overlay.info-visible {
    // bottom: 0;
    right: 0;
}

.info-overlay span,
.info-overlay p {
    padding: 20px 20px;
    color: #fff;
    max-width: 600px;
    margin: 0 auto;
}

.info-overlay span {
    font-size: 30px;
    display: block;
}

.info-overlay p {
    font-size: 18px;
    line-height: 1.4em;
}

.user-hello {
    bottom: 10px;
    position: absolute;
    right: 70px;
}

.read-count {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: black;
    border-radius: 50%;
    color: lightskyblue;
    font-size: 11px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
