/* Tab Navigation */

.tab-list {
    background: white;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-family: "Source Serif Pro", serif;
    left: 0px;
    font-size: 0.8em;
    line-height: 1em;
    color: #000;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-around;
    @include media($tablet) {
        justify-content: flex-start;
        height: 100vh;
        flex-direction: column;
        top: 0;
        right: auto;
    }
    .active {
        span {
            color: $priAlt !important;
        }
        svg {
            path {
                fill: $priAlt;
            }
        }
    }
    button  {
        border-radius: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        padding-left: 5px;
        padding-right: 5px;
        @include media($tablet) {
            padding: 20px 0;
        }
        span {
            display: block;
            width: 100%;
            color:  rgba(0, 0, 0, 0.5);
        }
        svg {
            width: 27px;
            height: 27px;
            path {
                fill: rgba(0, 0, 0, 0.5);
            }
        }
    }
}
