/* Navigation */

.tab-list {
    background: white;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-family: "Source Serif Pro", serif;
    left: 0px;
    font-size: 0.8em;
    line-height: 1em;
    color: #000;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-around;
    @include media($tablet) {
        justify-content: flex-start;
        height: 100vh;
        flex-direction: column;
        top: 0;
        right: auto;
    }
    .active {
        > div {
            color: $priAlt !important;
        }
        svg {
            path {
                fill: $priAlt;
            }
        }
    }
    button {
        padding: 0;
    }
}

.tab-list > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    > div {
        text-align: center;
        color: rgba(0, 0, 0, 0.6);
    }
}

.tab-list svg {
    color: #ccc;
    width: 27px;
    height: 27px;
    path {
        fill: rgba(0, 0, 0, 0.6);
    }
}
