/* Navigation */

nav {
    background: white;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: "Source Serif Pro", serif;
    left: 0px;
    font-size: 0.8em;
    line-height: 1em;
    color: #000;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    > div {
        text-align: center;
        color: rgba(0, 0, 0, 0.6);
    }
}

nav svg {
    color: #ccc;
    width: 27px;
    height: 27px;
    path {
        fill: rgba(0, 0, 0, 0.6);
    }
}
