/*  ALL POEMS  */

ul.all-poems {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.all-poems > li {
    font-family: "Source Serif Pro", serif;
    font-size: 18px;
    position: relative;
    color: #000 !important;
    .poem-content p {
        margin-bottom: 0;
    }
}

.all-poems > li {
    border: 1px solid black;
    background-color: rgba($color: #000, $alpha: 0.9);
    font-size: 18px;
    padding: 40px 10px 0px 20px;
    opacity: 0.9;
    visibility: visible;
    position: absolute;
    top: 5px;
    bottom: 0;
    left: 5px;
    right: 5px;
    height: calc(100vh - 157px);
    overflow: scroll;
    transition: all 0.5s ease;
    p,
    span {
        color: (rgba($color: #fff, $alpha: 1));
    }
    P {
        transition: color 1s ease;
    }
    span {
        position: absolute;
        top: 10px;
        right: 18px;
        font-size: 25px;
        font-style: italic;
    }
}

.all-poems > li.visiblePoem {
    background-color: rgba($color: #000, $alpha: 0.4);
    p {
        color: (rgba($color: #fff, $alpha: 1));
        max-width: 800px;
    }
}
