.app-screen {
    padding: 40px 20px;
    text-align: center;
    color: white;
    font-family: "Merienda One", cursive;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 80px;
    text-align: left;
    span {
        display: block;
    }
    @include media($tablet) {
        padding-left: 120px;
    }
}

.app-screen-meditate {
    padding-top: 40px;
    text-align: center;
    color: white;
}
