.app-screen {
    padding: 40px 20px;
    text-align: center;
    color: white;
    font-family: "Merienda One", cursive;

    span {
        display: block;
    }
    p {
        // color: white;
    }
}