.unsplash-feed {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
}

.unsplash-background {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all 0.5s ease;
}

.unsplash-credit {
    position: absolute;
    bottom: 110px;
    left: 12px;
    font-size: 8px;
    color: #fff;
}
