@import "variables";
@import "mixins";
@import "screens";
@import "poems";
@import "navigation";
@import "unsplash";
@import "chat";
@import "nav";

@import url("https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda+One&display=swap");

html {
    scroll-behavior: smooth;
}

body {
    background: rgb(41, 43, 45);
}
.App {
    position: relative;
}
button,
.button {
    border: none;
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
    display: inline;
    color: black;
    font-family: "Merienda One", cursive;
}

input {
    display: block;
    font-family: "Merienda One", cursive;
    padding: 5px 10px;
    font-size: 20px;
}
