@import url("https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap");

html {
    scroll-behavior: smooth;
}

body {
    background: #9adee9;
}

.unsplash-feed {
    width: 100%;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    img {
        margin: 0 auto;
        max-height: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        @media (min-width: 768px) {
            // width: 100vw;
            // max-height: none;
        }
    }
}

.unsplash-credit {
    position: absolute;
    bottom: 70px;
    right: 10px;
    font-size: 10px;
    color: #fff;
    z-index: 9999;
}

.App {
    position: relative;
}

.onboarding {
    text-align: center;
}

.read-count {
    position: absolute;
    top: 10px;
    right: 10px;
    background: black;
    border-radius: 50%;
    color: lightskyblue;
    font-size: 11px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    font-family: "Source Serif Pro", serif;
    top: 20px;
    left: 0px;
    font-size: 0.9em;
    line-height: 1em;
    color: #000;
    z-index: 9999;

    .the-logo {
        padding-top: 20px;
        display: block;
        width: 200px;
        position: relative;
    }

    .logo {
        position: absolute;
    }

    .logo svg {
        transition: all 0.5s ease-in-out;
        width: 33px;
        height: 33px;
        fill: #000;
    }

    .logo-change .logo svg {
        fill: #fff;
    }

    .logo-tag {
        margin-left: 40px;
        height: 35px;
        transition: all 0.25s ease-in-out;
        color: #000;
    }

    .logo-change .logo-tag {
        color: #fff;
        transition: all 0.25s ease-in-out;
    }

    .logo-tag span {
        display: block;
    }

    &.spin .logo svg {
        transform: rotate(180deg);
    }

    &.spin-more .logo svg {
        transform: rotate(-180deg);
    }
}

.info {
    svg {
        position: relative;
        fill: #ccc;
        width: 25px;
    }
}

.the-info-icon .info svg {
    fill: #000;
    z-index: 1;
    position: absolute;
    right: 20px;
    top: 25px;
}

.info-overlay {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    padding-top: 40px;
    text-align: center;
    z-index: 9999;
    color: white;
    overflow: scroll;
    .buddah svg {
        margin-top: 40px;
        fill: #fff;
        width: 80px;
    }
}

.info-overlay.info-hidden {
    top: -9999px;
}

.info-overlay.info-visible {
    top: 0;
}

.info-overlay span,
.info-overlay p {
    padding: 20px 20px;
    color: #fff;
    max-width: 600px;
    margin: 0 auto;
}

.info-overlay span {
    font-size: 30px;
    display: block;
}

.info-overlay p {
    font-size: 18px;
    line-height: 1.4em;
}

/*  ALL POEMS  */

ul.all-poems {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.all-poems > li {
    font-family: "Source Serif Pro", serif;
    font-size: 18px;
    position: relative;
    color: #000 !important;
    .poem-content p {
        margin-bottom: 0;
    }
}

.all-poems > li {
    border: 1px solid black;
    background-color: rgba($color: #000, $alpha: 0.9);
    font-size: 16px;
    // width: 100%;
    padding: 40px 10px 0px 20px;
    opacity: 0.9;
    // visibility: hidden;
    visibility: visible;
    position: absolute;
    top: 65px;
    bottom: 0;
    left: 5px;
    right: 5px;
    height: calc(100vh - 157px);
    transition: all 0.5s ease;

    p,
    span {
        // color: (rgba($color: #fff, $alpha: 0.3));
        color: (rgba($color: #fff, $alpha: 1));
    }
    P {
        transition: color 1s ease;
    }
    span {
        position: absolute;
        top: 10px;
        right: 18px;
        font-size: 25px;
        font-style: italic;
    }
}

.all-poems > li.visiblePoem {
    background-color: rgba($color: #000, $alpha: 0.4);
    display: block;
    visibility: visible;
    position: absolute;
    top: 65px;
    bottom: 0;
    left: 5px;
    right: 5px;
    // height: calc(100vh - 157px);
    opacity: 1;
    color: #fff !important;
    overflow: scroll;
    p {
        color: (rgba($color: #fff, $alpha: 1));
        max-width: 800px;
    }
}

/*Navigation*/

.all-navigation-row {
    position: absolute;
    width: 100%;
    height: 40px;
    border: 1px solid red;
    bottom: 60px;
    display: flex;
    align-items: center;
    overflow: scroll;
    background: #000;
}

.all-navigation-row div {
    padding: 5px;
}

.navbar {
    position: fixed;
    bottom: -1px;
    right: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #000;
    margin: 0 !important;
    color: #eee;
    line-height: 0;
    z-index: 1;
    height: 45px;
    > div {
        top: 5px;
    }
}

.navbar label {
    margin-bottom: 0;
}

.nav-search {
    position: fixed;
    font-family: "Source Serif Pro", serif;
    top: 30px;
    width: 180px;
    color: #888;
    font-size: 18px;
    font-weight: normal;
    transition: all 0.25s ease-in-out;
}

.nav-search.nav-visible {
    left: 150px;
}

.nav-search.nav-hidden {
    left: -190px;
}

.navbar label {
    position: relative;
}

.navbar label span {
    position: absolute;
    font-size: 10px;
    bottom: -10px;
    right: calc(50% - 15px);
    color: #fff;
    font-weight: normal;
}

@media (min-width: 750px) {
    .navbar label {
        display: block;
    }
}

.nav-movearound {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 40px);
    // width: calc(100%);
    position: absolute;
    right: 20px;
}

.nav-icon svg {
    width: 25px;
    height: 25px;
    fill: #fff;
    transition: all 0.06s ease-in;
    position: relative;
    bottom: 0px;
}

.nav-icon svg:active {
    fill: pink;
    bottom: -2px;
}

.nav-random,
.nav-all {
    position: relative;
}

.current-verse span,
.nav-icon span {
    // display: none;
    display: block;
    font-size: 10px;
    top: 8px;
    text-transform: uppercase;
    position: relative;
    text-align: center;
}

.current-verse {
    text-align: center;
    font-size: 12px;
    position: relative;
}

.nav-count {
    position: relative;
    top: 10px;
}

.current-verse svg {
    display: none;
    border: 1px solid pink;
    width: 30px;
    height: 25px;
    path {
        fill: #fff;
    }
}

.nav-count {
    font-family: "Source Serif Pro", serif;
    position: relative;
    width: 40px;
    font-size: 20px;
    font-style: italic;
    text-transform: uppercase;
}

.nav-next svg {
    transform: rotate(90deg);
}

.nav-prev svg {
    transform: rotate(90deg);
}

/* Name Form */

form.call-by-name {
    display: flex;
    align-items: center;
    flex-direction: column;
    label {
        height: 40px;
    }
    input {
        color: black !important;
    }
}

.user-hello {
    top: 30px;
    position: absolute;
    right: 60px;
}
