@import "poems";
@import "navigation";
@import "unsplash";
@import "footer";

@import url("https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap");

html {
    scroll-behavior: smooth;
}

body {
    background: #9adee9;
}
.App {
    position: relative;
}
