html {
    scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap");

body {
    background: #9adee9 url("../images/background.webp") top left;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-attachment: fixed;
    min-height: 100vh;
    max-height: 100vh;
    // border-top: 3px solid #000;
    // padding-top: 10px;
}

.container {
    // max-width: none;
}

@media (min-width: 1000px) {
    body {
        background: #9adee9 url("../images/background.webp") top left;
        background-repeat: no-repeat;
        background-size: 160% auto;
        background-attachment: fixed;
        min-height: 100vh;
    }
}

.App {
    position: relative;
}

header {
    font-family: "Source Serif Pro", serif;
    top: 20px;
    left: 0px;
    font-size: 0.9em;
    line-height: 1em;
    color: #000;

    .the-logo {
        padding-top: 20px;
        display: block;
        width: 200px;
        position: relative;
    }

    .logo {
        position: absolute;
    }

    .logo svg {
        transition: all 0.5s ease-in-out;
        width: 33px;
        height: 33px;
        fill: #000;
    }

    .logo-change .logo svg {
        fill: #fff;
    }

    .logo-tag {
        margin-left: 40px;
        height: 35px;
        transition: all 0.25s ease-in-out;
        color: #000;
    }

    .logo-change .logo-tag {
        color: #fff;
        transition: all 0.25s ease-in-out;
    }

    .logo-tag span {
        display: block;
    }

    &.spin .logo svg {
        transform: rotate(180deg);
    }

    &.spin-more .logo svg {
        transform: rotate(-180deg);
    }
}

.info-overlay {
    .buddah svg {
        margin-top: 40px;
        fill: #fff;
        width: 80px;
    }
}

.info {
    svg {
        position: relative;
        fill: #ccc;
        width: 25px;
    }
}

.the-info-icon .info svg {
    fill: #000;
    z-index: 1;
    position: absolute;
    right: 20px;
    top: 25px;
}

.info-overlay {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    padding-top: 40px;
    text-align: center;
    z-index: 9999;
    color: white;
}

.info-overlay.info-hidden {
    top: -9999px;
}

.info-overlay.info-visible {
    top: 0;
}

.info-overlay span,
.info-overlay p {
    padding: 20px 20px;
    color: #fff;
    max-width: 600px;
    margin: 0 auto;
}

.info-overlay span {
    font-size: 30px;
    display: block;
}

.info-overlay p {
    font-size: 18px;
    line-height: 1.4em;
}

ul.all-poems {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.hiddenPoem {
    /*border: 1px solid pink;*/
    display: inline-block;
    padding: 5px;
}

.all-poems > li {
    // max-width: 400px;
    // padding: 80px 20px;
    font-family: "Source Serif Pro", serif;
    font-size: 18px;
    position: relative;
    color: #000 !important;
    // z-index: -1;
}

.all-poems > li {
    border: 1px solid black;
    background-color: black;
    border-radius: 10px;
    font-size: 18px;
    width: 100%;
    padding: 30px 10px 20px 20px;
    p,
    span {
        color: (rgba($color: #fff, $alpha: 0.3));
    }
    P {
        transition: color 1s ease;
    }
    span {
        position: absolute;
        bottom: 5px;
        right: 15px;
        font-size: 25px;
        font-style: italic;
        // display: none;
    }
}

.all-poems > li.visiblePoem {
    transition: opacity 1.5s ease;
    opacity: 1;
    color: #fff !important;
    p {
        color: (rgba($color: #fff, $alpha: 1));
        max-width: 800px;
        // margin: 0 auto;
    }
}

@media (min-width: 750px) {
    .all-poems > li.visiblePoem {
        max-width: none;
        // padding: 80px 22vw 80px 0px;
        font-size: 2vw;
    }
}

@media (min-width: 1600px) {
    .all-poems > li.visiblePoem {
        max-width: none;
        // padding: 80px 0px 80px 0px;
        font-size: 40px;
    }
}

.all-poems > li.visiblePoem span {
}

/*Navigation*/

.all-navigation-row {
    position: absolute;
    width: 100%;
    height: 40px;
    border: 1px solid red;
    bottom: 60px;
    display: flex;
    align-items: center;
    overflow: scroll;
    background: #000;
}

.all-navigation-row div {
    padding: 5px;
}

.navbar {
    position: fixed;
    bottom: -1px;
    right: 0;
    left: 0;
    width: 100%;
    height: 80px;
    // border-top: 1px solid lighten($color: #000000, $amount: 60%);
    background: #000;
    margin: 0 !important;
    color: #eee;
    line-height: 0;
    z-index: 1;
    height: 45px;
    > div {
        top: 5px;
    }
}

.navbar label {
    margin-bottom: 0;
}

.nav-search {
    position: fixed;
    font-family: "Source Serif Pro", serif;
    top: 30px;
    width: 180px;
    color: #888;
    font-size: 18px;
    font-weight: normal;
    transition: all 0.25s ease-in-out;
}

.nav-search.nav-visible {
    left: 150px;
}

.nav-search.nav-hidden {
    left: -190px;
}

.navbar label {
    position: relative;
}

.navbar label span {
    position: absolute;
    font-size: 10px;
    bottom: -10px;
    right: calc(50% - 15px);
    color: #fff;
    font-weight: normal;
}

form label {
    // display: none;
}

@media (min-width: 750px) {
    .navbar label {
        display: block;
    }
}

.nav-movearound {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 40px);
    // width: calc(100%);
    position: absolute;
    right: 20px;
}

.nav-icon svg {
    width: 25px;
    height: 25px;
    fill: #fff;
    transition: all 0.06s ease-in;
    position: relative;
    bottom: 0px;
}

.nav-icon svg:active {
    fill: pink;
    bottom: -2px;
}

.nav-random,
.nav-all {
    position: relative;
}

.current-verse span,
.nav-icon span {
    // display: none;
    display: block;
    font-size: 10px;
    top: 8px;
    text-transform: uppercase;
    position: relative;
    text-align: center;
}

.current-verse {
    text-align: center;
    font-size: 12px;
    position: relative;
}

.nav-count {
    position: relative;
    top: 10px;
}

.current-verse svg {
    display: none;
    border: 1px solid pink;
    width: 30px;
    height: 25px;
    path {
        fill: #fff;
    }
}

.nav-count {
    font-family: "Source Serif Pro", serif;
    position: relative;
    width: 40px;
    font-size: 20px;
    font-style: italic;
    text-transform: uppercase;
}

.nav-next svg {
    transform: rotate(90deg);
}

.nav-prev svg {
    transform: rotate(90deg);
}

/* Name Form */
form.call-by-name {
    display: flex;
    align-items: center;
    flex-direction: column;
    label {
        height: 40px;
    }
    input {
        color: black !important;
    }
}

.user-hello {
    top: 30px;
    position: absolute;
    right: 60px;
}
