.screen-myzen {
    bottom: 60px;
    padding-bottom: 100px;
    width: 100%;
    text-align: left;
    color: white;
    @media only screen and (min-width: 768px) {
        left: 60px;
    }
    h2 {
        padding-top: 40px;
        padding-left: 20px;
    }
    p {
        font-size: 14px;
        line-height: 1.4em;
        padding-left: 20px;
    }
    .your-journey {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 640px;
        > div {
            text-align: center;
            width: calc(50%);
            background-color: rgba(black, 0.6);
            h3 {
                margin-top: 0px;
            }
            span,
            p {
                padding: 20px 20px;
                margin: 0 auto;
            }
        }
    }
    .buddah {
        display: inline;
        margin-right: 10px;
        position: relative;
        top: 0px;
    }
    .buddah svg {
        height: 50px;
        margin: 0 auto;
        padding-top: 20px;
        padding-left: 20px;
        path {fill: white;}
    }
    .unsplash-background {
        opacity: 0.6;
    }
    .videoWrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
        margin: 0 10px;
    }
    .videoWrapper iframe {
        padding: 10px;
        background: white;
        border-radius: 10px;
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 20px);
        height: 100%;
      }
    iframe {
        // width: calc(100% - 40px);
        max-width: 640px;
        // margin: 0 auto;
    }
}
