.screen-myzen {
    position: fixed;
    right: 0;
    bottom: 60px;
    top: 0;
    width: 100%;
    display: block;
    border: 1px solid transparent;
    height: calc(100vh - 50px);
    text-align: left;
    color: white;
    transition: right 0.5s ease-in-out;
    @media only screen and (min-width: 768px) {
        left: 60px;
        // bottom: 0px;
    }
    h2 {
        padding-top: 40px;
        padding-left: 20px;
    }
    p {
        font-size: 14px;
        line-height: 1.4em;
    }
    span,
    p {
        padding: 20px 20px;
        margin: 0 auto;
    }
    .your-journey {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        > div {
            text-align: center;

            width: calc(50% - 1px);
            background-color: rgba(black, 0.6);
            border-top: 1px solid rgba(white, 0.1);
            border-bottom: 1px solid rgba(white, 0.1);
            &:nth-of-type(odd) {
                border-right: 1px solid rgba(white, 0.1);
            }
            h3 {
                margin-top: 0px;
            }
        }
    }
    .unsplash-background {
        opacity: 0.6;
    }
}
