@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap');

body {
	background: url('../images/background.webp') top left;
	background-repeat: no-repeat;
	/*background-size: cover;*/
	background-size: auto 100%;
	background-attachment: fixed;
	min-height: 100vh;
	max-height: 100vh;
	border-top: 3px solid #000;
}

.container {
	max-width: none;
}

@media (min-width: 1000px) {
	body {
		background: url('../images/background.webp') top left;
		background-repeat: no-repeat;
		background-size: 160% auto;
		background-attachment: fixed;
		min-height: 100vh;
	}
}

.App {
	position: relative;
} 

header {
	font-family: 'Source Serif Pro', serif;
	top: 20px;
	left: 0px;
	font-size: .9em;
	line-height: 1em;
	color: #000;
}

.the-logo {
	width: 140px;
	position: relative;
}

header .logo {
	position: absolute;
}

header .logo svg   {
	transition: all .5s ease-in-out;
	width: 33px;
	height: 33px;
	fill: #000;
	transform: rotate(0deg);
}

header .logo svg:hover {
	fill: #fff;
	transform: rotate(360deg);
}

header .logo-tag {
	margin-left: 40px;
	width: 100px;
	height: 35px;
	transition: all .25s ease-in-out;
	color: #000;
}

header .logo-tag:hover {
	color: #fff;
}

header .logo-tag span {
	display: block;
}

ul.all-poems {
	list-style: none;
	margin: 0;
	padding: 0;
}

.all-poems > li {
	max-width: 400px;
	padding: 80px 0px 80px 0px;
	font-family: 'Source Serif Pro', serif;
	font-size: 20px;
	position: relative;
	color: #000 !important;
}

@media (min-width: 750px) {
	.all-poems > li {
		max-width: none;
		padding: 120px 22vw 80px 0px;
		font-size: 2.6vw;
	}
}

.all-poems > li span {
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 35px;
	font-style: italic;
	color: #000;
}

/*Navigation*/

form {
	position: fixed;
	bottom: -1px;
	right: 0;
	left: 0;
	width: 100%;
	height: 45px;
	background: #000;
	z-index: 9999;
	margin: 0 !important;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #fff;
}

@media (min-width: 750px) {
	form {
		height: 60px;
	}
}

.nav-search {
	position: fixed;
	font-family: 'Source Serif Pro', serif;
	bottom: 40px;
	width: 180px;
	color: #888;
	font-size: 18px;
	font-weight: normal;
	transition: all .25s ease-in-out;
}

@media (min-width: 750px) {
	.nav-search {
		bottom: 60px;
	}
}

.nav-search.nav-visible {
	left: 10px;
}

.nav-search.nav-hidden {
	left: -190px;
}

form label {
	position: relative;
}

form label span {
	position: absolute;
	font-size: 10px;
	bottom: -10px;
	right: calc(50% - 15px);
	color: #fff;
	font-weight: normal;
}

.nav-movearound {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100px;
	/*border: 1px solid red;*/
}

.nav-count {
	width: 30px;
	display: flex;
	justify-content: center;
	margin-top: 3px;
	overflow: hidden;
}

.nav-icon {
	/*border: 1px solid red;*/
	width: 30px;
	height: 30px;
}

.nav-icon svg {
	width: 30px;
	height: 30px;
	fill: #fff;
	transition: fill .1s ease-out;
}

.nav-icon svg:active {
	fill: pink;
}

.nav-random, .nav-all {
	position: relative;
}

.nav-icon span {
	display: none;
}

.nav-random span {
	position: absolute;
	font-size: 10px;
	bottom: -7px;
	right: calc(50% - 20px);
	color: #fff;
}

.nav-all span {
	position: absolute;
	font-size: 10px;
	bottom: -7px;
	right: calc(50% - 20px);
	color: #fff;
	width: 35px;
}