@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap');

body {
	background: #9adee9 url('../images/background.webp') top left;
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-attachment: fixed;
	min-height: 100vh;
	max-height: 100vh;
	border-top: 3px solid #000;
}

.container {
	max-width: none;
}

@media (min-width: 1000px) {
	body {
		background: #9adee9 url('../images/background.webp') top left;
		background-repeat: no-repeat;
		background-size: 160% auto;
		background-attachment: fixed;
		min-height: 100vh;
	}
}

.App {
	position: relative;
} 

header {
	font-family: 'Source Serif Pro', serif;
	top: 20px;
	left: 0px;
	font-size: .9em;
	line-height: 1em;
	color: #000;
}

.the-logo {
	padding-top: 20px;
	display: block;
	width: 200px;
	position: relative;
}

header .logo {
	position: absolute;
}

header .logo svg   {
	transition: all .5s ease-in-out;
	width: 33px;
	height: 33px;
	fill: #000;
}

header .logo-change .logo svg {
	fill: #fff;
}

header .logo-tag {
	margin-left: 40px;
	height: 35px;
	transition: all .5s ease-in-out;
	color: #000;
}

header .logo-change .logo-tag {
	color: #fff;
	transition: all .5s ease-in-out;
}

header .logo-tag span {
	display: block;
}


header.spin .logo svg {
	transform: rotate(180deg);
}

header.spin-more .logo svg {
	transform: rotate(-180deg);
}


.buddah svg {
	fill: #fff;
	width: 100px;
}

.the-info-icon {
	position: absolute;
	right: 15px;
	top: 10px;
}

.the-info-icon.info-change .info svg {
	fill: #fff;
	z-index: 1;
	position: relative;
}

header .info-overlay {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
	padding-top: 40px;
	text-align: center;
	z-index: 9999;
}

header .info-overlay.info-hidden {
	top: -9999px;
}

header .info-overlay.info-visible {
	top: 0;
}

header .info-overlay span,
header .info-overlay p {
	padding: 20px 20px;
	color: #fff;
	max-width: 600px;
	margin: 0 auto;
} 

header .info-overlay span {
	font-size: 30px;
	display: block;
}

header .info-overlay p {
	font-size: 18px;
	line-height: 1.4em;
}

ul.all-poems {
	list-style: none;
	margin: 0;
	padding: 0;
}

.all-poems > li {
	max-width: 400px;
	padding: 80px 0px 60px 0px;
	font-family: 'Source Serif Pro', serif;
	font-size: 18px;
	position: relative;
	color: #000 !important;
	z-index: -1;
}

@media (min-width: 750px) {
	.all-poems > li {
		max-width: none;
		padding: 80px 22vw 80px 0px;
		font-size: 2.0vw;
	}
}

@media (min-width: 1600px) {
	.all-poems > li {
		max-width: none;
		padding: 80px 0px 80px 0px;
		font-size: 40px;
	}
}

.all-poems > li span {
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 35px;
	font-style: italic;
	color: #000;
}

/*Navigation*/

form {
	position: fixed;
	bottom: -1px;
	right: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background: #000;
	margin: 0 !important;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #eee;
	line-height: 0;
	z-index: 1;
}

form label {
	margin-bottom: 0;
}

.nav-search {
	position: fixed;
	font-family: 'Source Serif Pro', serif;
	bottom: 60px;
	width: 180px;
	color: #888;
	font-size: 18px;
	font-weight: normal;
	transition: all .25s ease-in-out;
}

.nav-search.nav-visible {
	left: 10px;
}

.nav-search.nav-hidden {
	left: -190px;
}

form label {
	position: relative;
}

form label span {
	position: absolute;
	font-size: 10px;
	bottom: -10px;
	right: calc(50% - 15px);
	color: #fff;
	font-weight: normal;
}

form label {
	display: none;
}

@media (min-width: 750px) {
	form label {
		display: block;
	}
}

.nav-movearound {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 160px;
	/*border: 1px solid white;*/
}

.nav-icon svg {
	width: 40px;
	height: 40px;
	fill: #eee;
	transition: fill .06s ease-in;
	position: relative;
	bottom: 0px;
}

.nav-icon svg:active {
	fill: pink;
	bottom: -1px;
}

.nav-random, .nav-all {
	position: relative;
}

.nav-icon span {
	display: none;
}

.nav-count {
	font-size: 30px;
	text-transform: uppercase;
}