html {
    font-size: 62.5%;
}
body {
    margin: 0;
    font-size: 1.8em; /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
        sans-serif;
    color: #222;
}

/* Typography  */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300;
    font-family: "Merienda One", cursive;
}
h1 {
    font-size: 3rem;
    line-height: 1.2;
}
h2 {
    font-size: 2rem;
    line-height: 1.25;
}
h3 {
    font-size: 1.5rem;
    line-height: 1.3;
}
h4 {
    font-size: 1.5rem;
    line-height: 1.35;
}
h5 {
    font-size: 1.5rem;
    line-height: 1.35;
}
h6 {
    font-size: 1.5rem;
    line-height: 1.35;
}

p {
    margin-top: 0;
}

/* Links */
a {
    color: #ffffff;
}
a:hover {
    color: #0fa0ce;
}
