@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap');

body {
	background: url('./images/background.webp') top left;
	background-repeat: no-repeat;
	/*background-size: cover;*/
		background-size: auto 100%;
	background-attachment: fixed;
	min-height: 100vh;
}

.container {
	max-width: none;
}

@media (min-width: 1000px) {
	body {
		background: url('./images/background.webp') top left;
		background-repeat: no-repeat;
		background-size: 160% auto;
		background-attachment: fixed;
		min-height: 100vh;
	}
}

.App {
	position: relative;
} 

header {
	font-family: 'Source Serif Pro', serif;
	position: absolute;
	top: 20px;
	left: 0px;
	font-size: .9em;
	line-height: 1em;
	color: #000;
}

header img.logo {
	position: absolute;
	width: 30px;
	height: 30px;
}

header div {
	margin-left: 35px;
}


ul.all-poems {
	list-style: none;
	margin: 0;
	padding: 0;
}

.all-poems > li {
	max-width: 400px;
	padding: 80px 0px 80px 0px;
	font-family: 'Source Serif Pro', serif;
	font-size: 22px;
	position: relative;
	color: #000 !important;
}

@media (min-width: 750px) {
	.all-poems > li {
		max-width: none;
		padding: 120px 22vw 80px 0px;
		font-size: 2.6vw;
	}
}

.all-poems > li span {
	position: absolute;
	top: 0px;
	right: 40px;
	font-size: 35px;
	font-style: italic;
	color: #000;
}

/*Navigation*/

form {
	position: fixed;
	bottom: -1px;
	right: 0;
	left: 0;
	border-top: 1px solid #eee;
	width: 100%;
	height: 45px;
	background: #fff;
	z-index: 9999;
	margin: 0 !important;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #000;
}

@media (min-width: 750px) {
	form {
		height: 60px;
	}

}

.nav-search {
	position: fixed;
	font-family: 'Source Serif Pro', serif;
	bottom: 40px;
	width: 180px;
	color: #888;
	font-size: 18px;
	font-weight: normal;
	transition: all .25s ease-in-out;
}

.nav-search.nav-visible {
	left: 10px;
}

.nav-search.nav-hidden {
	left: -190px;
}

form label {
	position: relative;
}

form label span {
	position: absolute;
	font-size: 10px;
	bottom: -4px;
	right: calc(50% - 15px);
	color: #888;
	font-weight: normal;
}

.nav-count {
	width: 22px;
	display: flex;
	justify-content: center;
	margin-top: -4px;
}

.nav-icon {
	width: 30px;
	height: 30px;
}

.nav-random, .nav-all {
	position: relative;
}

.nav-random span {
	position: absolute;
	font-size: 10px;
	bottom: -2px;
	right: calc(50% - 20px);
	color: #888;
}

.nav-all span {
	position: absolute;
	font-size: 10px;
	bottom: -2px;
	right: calc(50% - 20px);
	color: #888;
	width: 35px;
}