@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap');

body {
	background: url('./images/background.webp') top left;
	background-size: cover;
	background-attachment: fixed;
	min-height: 100vh;
}

.App {
	position: relative;
} 

header {
	font-family: 'Source Serif Pro', serif;
	position: absolute;
	top: 10px;
	left: 0px;
	font-size: .9em;
	line-height: 1em;
	color: #000;
}

header img.logo {
	position: absolute;
	width: 30px;
	height: 30px;
}

header div {
	margin-left: 35px;
}


form {
	position: fixed;
	bottom: -1px;
	right: 0;
	left: 0;
	border-top: 1px solid #eee;
	width: 100%;
	height: 45px;
	background: #fff;
	z-index: 9999;
	margin: 0 !important;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #000;
}

form input,
form .button {
	padding: 0 10px;
	margin-bottom: 0;
}

form input {
	position: absolute;
	right: -9999px;
}

ul.all-poems {
	list-style: none;
}

.all-poems > li {
	max-width: 400px;
	margin: 10px auto;
	padding: 80px 0px 80px 0px;
	font-family: 'Source Serif Pro', serif;
	font-size: 22px;
	position: relative;
	color: #000 !important;
}

.all-poems > li span {
	position: absolute;
	top: 20px;
	right: 40px;
	font-size: 35px;
	font-style: italic;
	color: #000;
}

.nav-icon {
	width: 30px;
	height: 30px;
}
